*.zip
*.pdf
*.pth
*.pyc
*.npy
*.pdf
*.png
/model/__pycache__/
/__pycache__/
*dataset/
Lab_2/logs
Lab_2/dataset
Lab_2/~$report.docx
Lab_2/report.docx
Lab_2/__pycache__/Dataloader.cpython-39.pyc
Lab_2/__pycache__/tester.cpython-39.pyc
Lab_2/__pycache__/utils.cpython-39.pyc
Lab_2/model/__pycache__/SCCNet.cpython-39.pyc
wandb/
HW2/
HW3/
*.sh
*.docx
*.tmp
*.txt
*.ckpt
*.pt
*.gif
*.part
demo/
checkpoint*/
experiment*/
Lab_3/saved_models/07-28-22-00-04.KmEI6puX.pth.part
old/
